/* stile header */
.header-section{
    height: 50px;
    background-color:rgb(0, 140, 255);
    padding: 50px;
    background-image: url(../img/pattern.png);

}
/* ridimensinamento logo */
#logo{
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;

}

/* centraggio main */
main{
 width: 80%;
 margin-left: 10%;

}
/* colorazione e spaziatura testo */
.gray-text{
    color:gray;
    line-height: 0px;
    margin-top: 5px;
    
}

/* colorazione blu */
.blu-text{
    color: blue;
}
/* formattazzione titolo */
h1{
    margin-bottom: 0px;
}
/* testo descrizione foto */
.photo-descript{
    line-height: 1px;
}

/* testo evidenziato */
.text-hilight{
    background-color: yellow;
}

/* formattazione lista */
.list-item{
    margin: 3px;
}
/* formattazione tabella */
.table{
    text-align: left;
}
.t-head{
    background-color:aquamarine;
}
.colonna1{
    width: 400px;    
}
.colonna2{
    width: 400px;
}

.colonna3{
    width: 2000px;
}
td{
    padding-top: 10px;
}
#first-line{
    background-color: aqua;
}
#second-line{
    background-color: azure;

}
#third-line{
    background-color: aqua;
}

/* formattazione footer */

footer{
    background-color: #003399;
    height: 50px;
    text-align: center;
}

#footer-text{
    color:aliceblue;
    line-height: 50px;

}
